body {
    font-family: Verdana;
    font-size: 1.25em;
    text-align: center;
}

#myButton {
    font-size: 2em;
    padding: 5px 25px;
    border-radius: 10px;
    border: none;
    background-color: cornflowerblue;
    color: whitesmoke;
    font-weight: bold;
    margin-top: 50px;
}

.labels {
    font-size: 4em;
}