body {
    font-family: Verdana;
    font-size: 1.25em;
}

#countLabel {
    display:block;
    text-align: center;
    font-size: 7em;
    font-family: Helvetica;
}

#btnContainer {
    text-align: center;
}

.buttons {
    padding: 10px 20px;
    font-size: 1.25em;
    color: white;
    background-color: hsl(236, 72%, 59%);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover {
    background-color:  hsl(236, 52%, 48%);
}